@charset "UTF-8";
/* Default styles */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #f2f2f2;
    background: #04014d url("../img/bg.png");
}

/* Swiper */
@font-face {
    font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
    --swiper-theme-color: #007aff;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
  /* Fix of Webkit flickering */
    z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
    flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
    flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.swiper-slide-invisible-blank {
    visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
}

/* 3D Effects */
.swiper-container-3d {
    perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
  .swiper-container-3d .swiper-slide,
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom,
  .swiper-container-3d .swiper-cube-shadow {
    transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
  /* For Firefox */
    -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}

/* Bootstrap */
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.row-cols-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
}

.row-cols-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
}

.row-cols-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.row-cols-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
}

.row-cols-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
}

.row-cols-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.order-first {
    order: -1;
}

.order-last {
    order: 13;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

.offset-1 {
    margin-left: 8.33333%;
}

.offset-2 {
    margin-left: 16.66667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.33333%;
}

.offset-5 {
    margin-left: 41.66667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.33333%;
}

.offset-8 {
    margin-left: 66.66667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.33333%;
}

.offset-11 {
    margin-left: 91.66667%;
}

@media (min-width: 576px) {
    .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .row-cols-sm-1 > * {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-sm-2 > * {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-sm-3 > * {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .row-cols-sm-4 > * {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-sm-5 > * {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-sm-6 > * {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-sm-first {
        order: -1;
    }

    .order-sm-last {
        order: 13;
    }

    .order-sm-0 {
        order: 0;
    }

    .order-sm-1 {
        order: 1;
    }

    .order-sm-2 {
        order: 2;
    }

    .order-sm-3 {
        order: 3;
    }

    .order-sm-4 {
        order: 4;
    }

    .order-sm-5 {
        order: 5;
    }

    .order-sm-6 {
        order: 6;
    }

    .order-sm-7 {
        order: 7;
    }

    .order-sm-8 {
        order: 8;
    }

    .order-sm-9 {
        order: 9;
    }

    .order-sm-10 {
        order: 10;
    }

    .order-sm-11 {
        order: 11;
    }

    .order-sm-12 {
        order: 12;
    }

    .offset-sm-0 {
        margin-left: 0;
    }

    .offset-sm-1 {
        margin-left: 8.33333%;
    }

    .offset-sm-2 {
        margin-left: 16.66667%;
    }

    .offset-sm-3 {
        margin-left: 25%;
    }

    .offset-sm-4 {
        margin-left: 33.33333%;
    }

    .offset-sm-5 {
        margin-left: 41.66667%;
    }

    .offset-sm-6 {
        margin-left: 50%;
    }

    .offset-sm-7 {
        margin-left: 58.33333%;
    }

    .offset-sm-8 {
        margin-left: 66.66667%;
    }

    .offset-sm-9 {
        margin-left: 75%;
    }

    .offset-sm-10 {
        margin-left: 83.33333%;
    }

    .offset-sm-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 768px) {
    .col-md {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .row-cols-md-1 > * {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-md-2 > * {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-md-3 > * {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .row-cols-md-4 > * {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-md-5 > * {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-md-6 > * {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-md-first {
        order: -1;
    }

    .order-md-last {
        order: 13;
    }

    .order-md-0 {
        order: 0;
    }

    .order-md-1 {
        order: 1;
    }

    .order-md-2 {
        order: 2;
    }

    .order-md-3 {
        order: 3;
    }

    .order-md-4 {
        order: 4;
    }

    .order-md-5 {
        order: 5;
    }

    .order-md-6 {
        order: 6;
    }

    .order-md-7 {
        order: 7;
    }

    .order-md-8 {
        order: 8;
    }

    .order-md-9 {
        order: 9;
    }

    .order-md-10 {
        order: 10;
    }

    .order-md-11 {
        order: 11;
    }

    .order-md-12 {
        order: 12;
    }

    .offset-md-0 {
        margin-left: 0;
    }

    .offset-md-1 {
        margin-left: 8.33333%;
    }

    .offset-md-2 {
        margin-left: 16.66667%;
    }

    .offset-md-3 {
        margin-left: 25%;
    }

    .offset-md-4 {
        margin-left: 33.33333%;
    }

    .offset-md-5 {
        margin-left: 41.66667%;
    }

    .offset-md-6 {
        margin-left: 50%;
    }

    .offset-md-7 {
        margin-left: 58.33333%;
    }

    .offset-md-8 {
        margin-left: 66.66667%;
    }

    .offset-md-9 {
        margin-left: 75%;
    }

    .offset-md-10 {
        margin-left: 83.33333%;
    }

    .offset-md-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .row-cols-lg-1 > * {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-lg-2 > * {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-lg-3 > * {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .row-cols-lg-4 > * {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-lg-5 > * {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-lg-6 > * {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-lg-first {
        order: -1;
    }

    .order-lg-last {
        order: 13;
    }

    .order-lg-0 {
        order: 0;
    }

    .order-lg-1 {
        order: 1;
    }

    .order-lg-2 {
        order: 2;
    }

    .order-lg-3 {
        order: 3;
    }

    .order-lg-4 {
        order: 4;
    }

    .order-lg-5 {
        order: 5;
    }

    .order-lg-6 {
        order: 6;
    }

    .order-lg-7 {
        order: 7;
    }

    .order-lg-8 {
        order: 8;
    }

    .order-lg-9 {
        order: 9;
    }

    .order-lg-10 {
        order: 10;
    }

    .order-lg-11 {
        order: 11;
    }

    .order-lg-12 {
        order: 12;
    }

    .offset-lg-0 {
        margin-left: 0;
    }

    .offset-lg-1 {
        margin-left: 8.33333%;
    }

    .offset-lg-2 {
        margin-left: 16.66667%;
    }

    .offset-lg-3 {
        margin-left: 25%;
    }

    .offset-lg-4 {
        margin-left: 33.33333%;
    }

    .offset-lg-5 {
        margin-left: 41.66667%;
    }

    .offset-lg-6 {
        margin-left: 50%;
    }

    .offset-lg-7 {
        margin-left: 58.33333%;
    }

    .offset-lg-8 {
        margin-left: 66.66667%;
    }

    .offset-lg-9 {
        margin-left: 75%;
    }

    .offset-lg-10 {
        margin-left: 83.33333%;
    }

    .offset-lg-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .row-cols-xl-1 > * {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-xl-2 > * {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-xl-3 > * {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .row-cols-xl-4 > * {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-xl-5 > * {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-xl-6 > * {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-xl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-xl-first {
        order: -1;
    }

    .order-xl-last {
        order: 13;
    }

    .order-xl-0 {
        order: 0;
    }

    .order-xl-1 {
        order: 1;
    }

    .order-xl-2 {
        order: 2;
    }

    .order-xl-3 {
        order: 3;
    }

    .order-xl-4 {
        order: 4;
    }

    .order-xl-5 {
        order: 5;
    }

    .order-xl-6 {
        order: 6;
    }

    .order-xl-7 {
        order: 7;
    }

    .order-xl-8 {
        order: 8;
    }

    .order-xl-9 {
        order: 9;
    }

    .order-xl-10 {
        order: 10;
    }

    .order-xl-11 {
        order: 11;
    }

    .order-xl-12 {
        order: 12;
    }

    .offset-xl-0 {
        margin-left: 0;
    }

    .offset-xl-1 {
        margin-left: 8.33333%;
    }

    .offset-xl-2 {
        margin-left: 16.66667%;
    }

    .offset-xl-3 {
        margin-left: 25%;
    }

    .offset-xl-4 {
        margin-left: 33.33333%;
    }

    .offset-xl-5 {
        margin-left: 41.66667%;
    }

    .offset-xl-6 {
        margin-left: 50%;
    }

    .offset-xl-7 {
        margin-left: 58.33333%;
    }

    .offset-xl-8 {
        margin-left: 66.66667%;
    }

    .offset-xl-9 {
        margin-left: 75%;
    }

    .offset-xl-10 {
        margin-left: 83.33333%;
    }

    .offset-xl-11 {
        margin-left: 91.66667%;
    }
}

/* Blocks */
.header {
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    background: #080726 url("../img/bg-header.png");
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f2f2f2;
}

.nav.show {
    display: block;
    margin-left: 50%;
    width: 40%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 100%;
    right: 0;
    text-align: right;
    transform: translateX(100%);
    transition: transform .7s linear;
}

@media (max-width: 767.98px) {
    .nav {
        display: none;
    }
}

.nav__link {
    position: relative;
    margin-right: 7.3rem;
    padding: .8rem;
    font-size: 1.6rem;
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    color: #f2f2f2;
    text-transform: uppercase;
    transition: color .2s linear;
}

.nav__link:hover {
    color: #f9dd79;
}

.nav__link:before, .nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f9dd79;
    opacity: 0;
    transition: opacity .3s, transform .3s;
}

.nav__link:before {
    top: 0;
    transform: translateY(-1rem);
}

.nav__link:after {
    bottom: 0;
    transform: translateY(1rem);
}

.nav__link:hover:before, .nav__link:hover:after {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 1199.98px) {
    .nav__link {
        margin-right: 4.5rem;
    }
}

@media (max-width: 991.98px) {
    .nav__link {
        font-size: 1.3rem;
        margin-right: 2.5rem;
    }
}

@media (max-width: 767.98px) {
    .nav__link {
        display: block;
        margin-right: 0;
        padding: 2rem .8rem;
        font-size: 1.8rem;
    }
}

@media (max-width: 575.98px) {
    .nav__link {
        font-size: 1.6rem;
    }
}

.user {
    display: flex;
    align-items: center;
}

.user__photo img {
    border-radius: 50%;
}

@media (max-width: 575.98px) {
    .user__photo img {
        width: 40px;
        height: 40px;
    }
}

.user__content {
    padding-left: 1.5rem;
    font-style: italic;
}

.user__name {
    font-size: 2rem;
    font-weight: 700;
}

.user__name a {
    color: #f2f2f2;
}

@media (max-width: 991.98px) {
    .user__name {
        font-size: 1.8rem;
    }
}

.user__position {
    font-size: 1.5rem;
    font-weight: 300;
    color: fade(#d6d6d6, 70%);
}

@media (max-width: 991.98px) {
    .user__position {
        font-size: 1.3rem;
    }
}

.hamburger {
    display: none;
    width: 4rem;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 767.98px) {
    .hamburger {
        display: block;
    }
}

.hamburger__icon {
    display: block;
    width: 100%;
    height: .5rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
    transition: all .7s ease-in-out;
}

.hamburger__icon:before, .hamburger__icon:after {
    display: block;
    width: 100%;
    height: .5rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
    content: "";
    transition: all .7s ease-in-out;
}

.hamburger__icon:before {
    transform: translate(0, -10px);
}

.hamburger__icon:after {
    transform: translate(0, 6px);
}

.hamburger__icon.open {
    transform: rotate(180deg);
}

.hamburger__icon.open:before, .hamburger__icon.open:after {
    width: 60%;
}

.hamburger__icon.open:before {
    transform: translate(20px, -8px) rotate(45deg);
}

.hamburger__icon.open:after {
    transform: translate(20px, 2px) rotate(-45deg);
}

.intro {
    position: relative;
    padding: 15rem 0 20rem;
    background: #020038 url("../img/intro/bg-intro.png");
}

.intro:after {
    content: "";
    height: 12%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #0b0c23;
    background-image: url("../img/intro/bg-tags.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 2px solid #5053a8;
}

.intro__inner {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 767.98px) {
    .intro__inner {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}

.intro__content {
    text-align: center;
}

.intro__picture {
    width: 50%;
}

.intro__image {
    width: 100%;
    height: auto;
}

@media (max-width: 767.98px) {
    .intro__image {
        display: none;
    }
}

.into__subtitle {
    position: relative;
    padding: 1rem 0;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 3rem;
    color: rgba(242, 242, 242, 0.8);
}

.into__subtitle:before, .into__subtitle:after {
    content: '';
    position: absolute;
    left: 0;
    background-color: rgba(242, 242, 242, 0.4);
    width: 100%;
    height: 2px;
}

.into__subtitle:before {
    top: 0.2rem;
}

.into__subtitle:after {
    bottom: 0rem;
}

@media (max-width: 991.98px) {
    .into__subtitle {
        font-size: 2rem;
    }
}

@media (max-width: 767.98px) {
    .into__subtitle {
        font-size: 1.8rem;
    }
}

.intro__title {
    font-size: 7rem;
    font-family: 'Vollkorn', 'Montserrat', sans-serif;
    color: #f2f2f2;
    text-transform: uppercase;
}

@media (max-width: 991.98px) {
    .intro__title {
        font-size: 6rem;
    }
}

@media (max-width: 767.98px) {
    .intro__title {
        font-size: 5rem;
    }
}

@media (max-width: 575.98px) {
    .intro__title {
        font-size: 4.5rem;
    }
}

.social {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.social__link {
    margin: 0 1.5rem;
    transition: transform .2s linear;
}

.social__link:hover {
    transform: scale(1.2);
}

.social__icon {
    width: 35px;
    height: 35px;
}

@media (max-width: 767.98px) {
    .social__icon {
        width: 20px;
        height: 20px;
    }
}

.about {
    position: relative;
}

.about__header {
    text-align: center;
    margin-bottom: 10rem;
}

@media (max-width: 991.98px) {
    .about__header {
        margin-bottom: 8rem;
    }
}

@media (max-width: 767.98px) {
    .about__header {
        margin-bottom: 5rem;
    }
}

@media (max-width: 575.98px) {
    .about__header {
        margin-bottom: 3rem;
    }
}

.about__inner {
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 991.98px) {
    .about__inner {
        align-items: flex-start;
    }
}

@media (max-width: 767.98px) {
    .about__inner {
        margin-bottom: 5rem;
        display: block;
    }
}

.about__content {
    flex-basis: 40%;
}

@media (max-width: 767.98px) {
    .about__content {
        width: 100%;
        margin-bottom: 2rem;
    }
}

.about__text {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #f2f2f2;
}

.about__text + .about__text {
    margin-top: 1.2rem;
}

@media (max-width: 991.98px) {
    .about__text {
        font-size: 1.7rem;
    }
}

@media (max-width: 767.98px) {
    .about__text {
        font-size: 1.6rem;
    }
}

.about__photo {
    flex-basis: 40%;
}

@media (max-width: 575.98px) {
    .about__photo {
        width: 100%;
    }
}

.about__photo-user {
    width: 38rem;
    height: 50rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 20px 0px #000000;
}

@media (max-width: 767.98px) {
    .about__photo-user {
        width: 50%;
        width: 240px;
        height: 316px;
        display: block;
        margin: 0 auto;
    }
}

.btn {
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
    padding: 8px 24px;
    min-width: 15rem;
    color: #0b0c23;
    font-size: 1.5rem;
    font-family: inherit;
    line-height: 2;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: #f9dd79;
    box-shadow: 0 4px 16px rgba(249, 221, 121, 0.4);
    border-radius: 24px;
    transition: background-color 100ms, box-shadow 100ms;
}

.btn:hover, .btn:focus {
    background-color: #f9e7a8;
    box-shadow: 0 4px 32px rgba(249, 221, 121, 0.6);
    outline: none;
}

.btn:active {
    background-color: #b69e4b;
    box-shadow: none;
}

@media (max-width: 991.98px) {
    .btn {
        min-width: 8rem;
        padding: 6px 20px;
    }
}

@media (max-width: 767.98px) {
    .btn {
        font-size: 1.3rem;
        padding: 5px 17px;
    }
}

.works {
    position: relative;
}

.works__header {
    margin-bottom: 10rem;
}

@media (max-width: 991.98px) {
    .works__header {
        margin-bottom: 8rem;
    }
}

@media (max-width: 767.98px) {
    .works__header {
        margin-bottom: 5rem;
    }
}

@media (max-width: 575.98px) {
    .works__header {
        margin-bottom: 3rem;
    }
}

.works-slider__container {
    overflow: hidden;
    width: 100%;
}

.works-slider__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.works-slider__slide {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 767.98px) {
    .works-slider__slide {
        display: block;
    }
}

.works-slider__photo {
    flex-basis: 35%;
    position: relative;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}

@media (max-width: 767.98px) {
    .works-slider__photo {
        display: block;
        margin-bottom: 4.6rem;
    }
}

.works-slider__photo:hover .works-slider__photo-mask {
    transform: translateY(0);
}

.works-slider__photo-img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
    object-fit: cover;
}

.works-slider__photo-mask {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 1.6rem;
    transform: translateY(100%);
    transition: all .5s linear;
    height: 100%;
}

@media (max-width: 767.98px) {
    .works-slider__photo-mask {
        display: none;
    }
}

.works-slider__photo-item {
    margin-right: 1rem;
    margin-left: 1rem;
}

.works-slider__photo-item img {
    display: block;
    width: 50px;
    height: 50px;
}

.works-slider__content {
    flex-basis: 60%;
    color: #fff;
}

.works-slider__title {
    margin-bottom: 4rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.8rem;
}

@media (max-width: 575.98px) {
    .works-slider__title {
        font-size: 1.8rem;
        line-height: 150%;
    }
}

.works-slider__description {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767.98px) {
    .works-slider__description {
        margin-bottom: 2rem;
    }
}

@media (max-width: 575.98px) {
    .works-slider__description {
        margin-bottom: 1rem;
        flex-direction: column;
    }
}

.works-slider__text {
    margin-bottom: 3rem;
    display: flex;
    align-items: flex-start;
    flex-basis: 50%;
}

.works-slider__text:last-child {
    flex-basis: 100%;
    margin-bottom: 0;
}

@media (max-width: 575.98px) {
    .works-slider__text:last-child {
        margin-bottom: 2.7rem;
    }
}

@media (max-width: 575.98px) {
    .works-slider__text {
        margin-bottom: 3.3rem;
        flex-basis: 100%;
    }
}

.works-slider__text-img {
    margin-right: 1.6rem;
}

.works-slider__text-title {
    margin-bottom: .7rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.1rem;
}

.works-slider__text-paragraph {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
}

@media (max-width: 575.98px) {
    .works-slider__text-paragraph {
        font-size: 1.4rem;
    }
}

.works-slider__link {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    color: inherit;
}

.works-slider__link:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #f2f2f2;
    transition: width .2s linear, color .2s linear, background-color .2s linear;
}

.works-slider__link:hover {
    color: #f9dd79;
}

.works-slider__link:hover:after {
    width: 100%;
    background-color: #f9dd79;
}

.works-slider__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.works-slider__bullet {
    margin: 0 .5rem;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #FFBB01;
    border-radius: 50%;
    cursor: pointer;
}

.works-slider__bullet--active {
    background: #FFBB01;
}

.works-slider__bullet:focus {
    outline: none;
}

.blog {
    display: none;
    padding: 3rem 0;
    position: relative;
    width: 100%;
}

@media (max-width: 991.98px) {
    .blog {
        border-width: 40px;
    }
}

@media (max-width: 767.98px) {
    .blog {
        padding: 2rem 0;
        border-width: 30px;
    }
}

@media (max-width: 575.98px) {
    .blog {
        padding: 1rem 0;
        border-width: 20px;
    }
}

.blog__photo {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
}

.blog__content {
    color: #020038;
    padding: 4rem;
    background-color: #fff;
    border-radius: 50px;
}

@media (max-width: 767.98px) {
    .blog__content {
        padding: 3rem;
    }
}

@media (max-width: 575.98px) {
    .blog__content {
        padding: 2rem;
    }
}

.blog__title {
    margin-bottom: 3rem;
    color: #000 !important;
}

@media (max-width: 767.98px) {
    .blog__title {
        margin-bottom: 2rem;
    }
}

@media (max-width: 575.98px) {
    .blog__title {
        margin-bottom: 1rem;
    }
}

.blog__arrow {
    position: absolute;
    top: 35%;
    transition: transform .3s linear;
}

.blog__arrow img {
    width: 35px;
    height: 35px;
}

@media (max-width: 767.98px) {
    .blog__arrow img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 575.98px) {
    .blog__arrow img {
        width: 15px;
        height: 15px;
    }
}

.blog__arrow-left {
    left: 17%;
}

.blog__arrow-right {
    right: 18%;
}

.blog__arrow:hover {
    transform: scale(1.3);
}

.blog__btn {
    color: #f2f2f2;
    background-color: #070a1b;
    box-shadow: 0 4px 16px rgba(5, 8, 16, 0.4);
}

.blog__btn:hover, .blog__btn:focus {
    background-color: #24232c;
    box-shadow: 0 4px 32px rgba(58, 45, 78, 0.6);
}

.blog__btn:active {
    background-color: #b69e4b;
}

.articles {
    margin-bottom: 3rem;
    width: 100%;
    height: 80%;
    overflow: auto;
}

@media (max-width: 767.98px) {
    .articles {
        margin-bottom: 2rem;
    }
}

@media (max-width: 575.98px) {
    .articles {
        margin-bottom: 1rem;
    }
}

.articles::-webkit-scrollbar {
    width: 15px;
    /* ширина для вертикального скролла */
    background-color: #f2f2f2;
}

.articles::-webkit-scrollbar-thumb {
    background-color: #f9dd79;
    border-radius: 9em;
    box-shadow: 0 4px 16px rgba(249, 221, 121, 0.4);
}

.articles::-webkit-scrollbar-thumb:hover, .articles::-webkit-scrollbar-thumb:focus {
    background-color: #f9e7a8;
    box-shadow: 0 4px 32px rgba(249, 221, 121, 0.6);
}

.articles::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #020038 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, #020038 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #020038 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

.articles::-webkit-scrollbar-button:vertical:end:increment {
    background: linear-gradient(300deg, #020038 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, #020038 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #020038 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

.articles__item {
    overflow: hidden;
    display: none;
    border: 2px solid #dddddd;
    border-radius: 2rem;
    font-family: 'Montserrat', sans-serif;
    transition: transform .2s linear;
    padding: .7rem;
}

.articles__item.active {
    display: block;
}

.articles__title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 991.98px) {
    .articles__title {
        font-size: 1.9rem;
    }
}

@media (max-width: 767.98px) {
    .articles__title {
        font-size: 1.8rem;
        margin-bottom: .7rem;
    }
}

@media (max-width: 575.98px) {
    .articles__title {
        font-size: 1.7rem;
        margin-bottom: .5rem;
    }
}

.articles__text {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 767.98px) {
    .articles__text {
        font-size: 1.7rem;
    }
}

@media (max-width: 575.98px) {
    .articles__text {
        font-size: 1.6rem;
    }
}

.articles__datetime {
    font-size: 1.4rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.5);
    margin: auto 0;
}

.contact__header {
    margin-bottom: 4rem;
}

@media (max-width: 767.98px) {
    .contact__header {
        margin-bottom: 3rem;
    }
}

@media (max-width: 575.98px) {
    .contact__header {
        margin-bottom: 2rem;
    }
}

.contact__inner {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 575.98px) {
    .contact__inner {
        display: block;
    }
}

.contact__content {
    position: relative;
    width: 40%;
    padding-top: 2rem;
    margin-right: 2rem;
}

@media (max-width: 575.98px) {
    .contact__content {
        width: 100%;
        margin-bottom: 3rem;
    }
}

.contact__text {
    margin-bottom: 2rem;
    font-size: 1.7rem;
    line-height: 1.5;
    color: #f2f2f2;
}

@media (max-width: 991.98px) {
    .contact__text {
        font-size: 1.5rem;
    }
}

@media (max-width: 767.98px) {
    .contact__text {
        font-size: 1.3rem;
    }
}

.contact__info {
    font-size: 1.5rem;
    font-weight: 300;
}

.contact__info-item {
    display: flex;
    align-items: center;
}

.contact__info-item a {
    color: #f2f2f2;
}

.contact__info-item a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #f2f2f2;
    transition: width .2s linear, color .2s linear, background-color .2s linear;
}

.contact__info-item a:hover {
    color: #f9dd79;
}

.contact__info-item a:hover:after {
    width: 100%;
    background-color: #f9dd79;
}

.contact__info-item + .contact__info-item {
    margin-top: .8rem;
}

.contact__info-icon {
    padding-right: 2rem;
}

@media (max-width: 991.98px) {
    .contact__info {
        font-size: 1.4rem;
    }
}

@media (max-width: 767.98px) {
    .contact__info {
        font-size: 1.2rem;
    }
}

.form {
    width: 60%;
}

@media (max-width: 575.98px) {
    .form {
        width: 100%;
    }
}

.form__input,
.form__textarea {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-family: inherit;
    color: #f2f2f2;
    width: 100%;
    border: 1px solid rgba(242, 242, 242, 0.3);
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-color: #09062a;
}

.form__input:focus,
  .form__textarea:focus {
    outline: none;
    border: 1px solid #33bbc6;
}

@media (max-width: 991.98px) {
    .form__input,
    .form__textarea {
        font-size: 1.4rem;
    }
}

.form__textarea {
    resize: none;
    height: 20rem;
}

.form__label {
    display: inline-block;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
}

@media (max-width: 991.98px) {
    .form__label {
        font-size: 1.4rem;
    }
}

@media (max-width: 767.98px) {
    .form__label {
        font-size: 1.2rem;
    }
}

.footer {
    margin-top: auto;
    padding: 2rem 0;
    background-color: #1b1b1c;
}

.footer__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__credits {
    padding-right: 1rem;
    font-size: 1.3rem;
    font-weight: 300;
    color: #f2f2f2;
    border-right: 1px solid fade(#f2f2f2, 30%);
}

.footer__social {
    display: flex;
}

.footer__link {
    margin-left: 1rem;
    transition: transform .2s linear;
}

.footer__link:hover {
    transform: scale(1.2);
}

.footer__icon {
    width: 20px;
    height: 20px;
}

/* Modal-window */
.modal {
    display: none;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.9);
}

.modal.show {
    display: flex;
}

.modal__wrapper {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 3rem 5rem;
    background: #fff url("../img/modal/modal-bg.png");
    transform: scale(0);
    transition: transform .2s linear;
    border-radius: 2rem;
}

@media (max-width: 991.98px) {
    .modal__wrapper {
        padding: 3rem 4rem;
    }
}

@media (max-width: 767.98px) {
    .modal__wrapper {
        padding: 3rem 3rem;
    }
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin: 2rem 2rem 0 0;
    transition: transform .2s linear;
}

.modal__close:hover {
    transform: rotate(90deg) scale(1.1);
}

.modal__title {
    font-size: 5rem;
    font-family: 'Vollkorn', 'Montserrat', sans-serif;
    color: black;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

@media (max-width: 991.98px) {
    .modal__title {
        font-size: 4rem;
    }
}

@media (max-width: 767.98px) {
    .modal__title {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 575.98px) {
    .modal__title {
        margin-bottom: 2rem;
    }
}

.modal__inner {
    display: flex;
}

@media (max-width: 575.98px) {
    .modal__inner {
        display: block;
    }
}

.resume {
    width: 60%;
}

@media (max-width: 575.98px) {
    .resume {
        width: 100%;
    }
}

.resume__inner {
    color: black;
    padding-right: 5rem;
}

@media (max-width: 575.98px) {
    .resume__inner {
        padding-right: 0;
    }
}

.resume__title {
    font-size: 1.5rem;
    font-family: 'Vollkorn', 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

@media (max-width: 991.98px) {
    .resume__title {
        font-size: 1.3rem;
    }
}

@media (max-width: 767.98px) {
    .resume__title {
        font-size: 1.1rem;
    }
}

@media (max-width: 575.98px) {
    .resume__title {
        display: none;
    }
}

.resume__list {
    font-family: "Montserrat", sans-serif;
}

.resume__list-item {
    font-size: 1.5rem;
    list-style: square outside;
}

.resume__list-item + .resume__list-item {
    margin-top: 1.5rem;
}

@media (max-width: 991.98px) {
    .resume__list-item {
        font-size: 1.3rem;
    }
}

@media (max-width: 767.98px) {
    .resume__list-item {
        font-size: 1.1rem;
    }
}

@media (max-width: 575.98px) {
    .resume__list-item {
        font-size: 1.5rem;
    }
}

.skills {
    width: 40%;
    color: #000;
}

@media (max-width: 575.98px) {
    .skills {
        display: none;
    }
}

.skills__block {
    margin-bottom: 4rem;
}

.skills__main-title {
    font-size: 1.5rem;
    font-family: 'Vollkorn', 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

@media (max-width: 991.98px) {
    .skills__main-title {
        font-size: 1.3rem;
    }
}

@media (max-width: 767.98px) {
    .skills__main-title {
        font-size: 1.1rem;
    }
}

.skills__main-title-preprocessor {
    margin-bottom: 0;
}

.skills__item {
    display: flex;
    align-items: center;
}

.skills__item + .skills__item {
    margin-top: 1rem;
}

.skills__img {
    min-width: 5rem;
}

.skills__img-gulp {
    height: 5rem;
}

.skills__load-bar {
    position: relative;
    margin-left: 2rem;
    width: 20rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 1rem;
}

.skills__load-bar span {
    position: absolute;
    left: 45%;
    font-size: 1rem;
    color: #f2f2f2;
}

.skills__load-bar-progress {
    background-color: #ffc107;
    height: 100%;
    border-radius: .5rem;
    transition: width .2s linear;
}

@media (max-width: 767.98px) {
    .skills__load-bar {
        margin-left: 1rem;
    }
}

.skills__item-icon {
    width: 50px;
    height: auto;
}

@media (max-width: 767.98px) {
    .skills__item-icon {
        width: 45px;
    }
}

@media (max-width: 575.98px) {
    .skills__item-icon {
        width: 40px;
    }
}

/* Helpers */
.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding: 10rem 0;
}

@media (max-width: 1199.98px) {
    .section {
        padding: 8.75rem 0;
    }
}

@media (max-width: 991.98px) {
    .section {
        padding: 7.5rem 0;
    }
}

@media (max-width: 767.98px) {
    .section {
        padding: 6.25rem 0;
    }
}

@media (max-width: 575.98px) {
    .section {
        padding: 5rem 0;
    }
}

.title {
    font-size: 5rem;
    font-family: 'Vollkorn', 'Montserrat', sans-serif;
    color: #f2f2f2;
    text-transform: uppercase;
}

@media (max-width: 991.98px) {
    .title {
        font-size: 4rem;
    }
}

@media (max-width: 767.98px) {
    .title {
        font-size: 3rem;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.no-scroll {
    overflow: hidden;
}

.hidden {
    display: none;
}

.after-line:after {
    position: absolute;
    bottom: 0;
    left: 30%;
    content: '';
    width: 40%;
    height: .2rem;
    background: rgba(242, 242, 242, 0.4);
}
